.btn {
  padding: 10px;
  color: var(--white);
  background: var(--primary-color);

  border: none;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;
}
