.toolbar_container {
  margin-top: auto;
  margin-inline: auto;
  display: flex;
  gap: 3em;
  background: transparent;
  margin-bottom: 2em;
}

.icon {
  background: #e9f1f6;
  padding: 5px 5px;
  height: 2.5rem;
  width: auto;
  font-weight: bold;
  stroke: var(--primary-color);
  border-radius: 8px;
}
